OPENAI_API_KEY=
DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/novel_translation
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=novel_translation
